body {
	background: #FD1F9E;
	    @media only screen and (min-width: 1000px) {
        background: #FD1F9E url(../img/grease/full-background.jpg) no-repeat top center;
    }
}


.header-image {
    background: url(../img/grease/small-header.jpg) no-repeat center center;
    background-size: cover;
    height: 0;
    padding-bottom: 38.555%;
    h1 {
	    position: absolute;
	    text-indent: -9999px;
    }
    @media only screen and (min-width: 1000px) {
        background: none;
    }
  }